
@import "../../../../styles/Colors.module";

.button {
  //border: 1px solid $color-primary;
  color: $color-primary;
  cursor: pointer;

  div {
    margin-left: 0.5em;
  }
}
.menu {
  padding: 0.3em;
  display: flex;
  color: $color-primary;
  line-height: 2em;
  cursor: pointer;

  .login {
    margin-right: 0.5em;
  }
  .avatar {
    height: 2em;
    width: 2em;
    border-radius: 0.25em;
  }
}
//.avatar {
//  width: 1.5em;
//  height: 1.5em;
//  border-radius: 50%;
//  cursor: pointer;
//}
