
.container {
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  grid-column-gap: 0.25em;

  &.containerExtended {
    grid-template-columns: fit-content(100%) fit-content(100%) auto;
  }

  & > label {
    line-height: 1.5em;
    cursor: pointer;
  }
}
